body {
	margin: 1;
	background: #111;
}


header {
	background:#222 ;
	color: white;
	margin: 1;
	padding: 14px 30px 6px;
}

header h1 {
	margin: 1;
	display: inline;
}

nav ul {
	margin: 1;
	display: inline;
	padding: 28px;
}

nav ul li {
	background: #333;
	display: inline-block;
	list-style-type: none;
	padding: 8px 16px;
	margin: 4px;
}

nav ul li a {
	color: ghostwhite;
}

nav p {
	margin: 1;
	padding: 0;
	font-family: arial;
}

footer {
	color: darkgray;
}

.avk {
	color: royalblue;
}

.ayut {
	color: indianred;
}

.adis {
	color: blueviolet;
}

.agit {
	color: dimgrey;
}

